*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background: #fff;
    background-image: url("https://cdn.betwaygroup.com/medusa-production/1001/the-hunch-mobile.webp") ;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}